{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block nav-home %}active{% endblock %}

{% block sidebar %}
<li><a href="#lorem">Lorem ipsum</a></li>
<li><a href="#pellentesque">Pellentesque malesuada</a></li>
<li><a href="#sed">Sed laoreet</a></li>
{% endblock %}

{% block content %}
    <h3>Introduction</h3>


    <div id="lorem">
    <h4>Lorem ipsum...</h4>
    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget risus a nisi vehicula cursus quis sed metus. Morbi sollicitudin vehicula leo sed commodo. Nullam sed purus mauris. In feugiat tortor ipsum, vitae posuere risus semper ac. Sed vestibulum enim id quam consequat, in hendrerit arcu euismod. Proin at arcu eu neque ultrices pharetra at quis massa. Nulla pharetra facilisis lacus ac luctus. Cras pretium dui porttitor nisi convallis sodales.

    </p>

    <p style="text-align: justify">Pellentesque consequat vehicula leo, a rhoncus lectus pharetra eu. Maecenas lectus neque, eleifend at erat sit amet, molestie interdum quam. Donec mollis posuere arcu sit amet pulvinar. Pellentesque leo enim, adipiscing vitae pretium nec, porta quis nibh. Integer id nunc porttitor odio dignissim accumsan. Suspendisse risus massa, cursus eget felis eu, condimentum vestibulum metus. Etiam mauris leo, gravida nec sem eu, hendrerit blandit nibh. Duis ut fringilla mi, sed porta velit.

    </p>

    <p style="text-align: justify">Ut mollis aliquam luctus. Vestibulum sollicitudin porttitor diam non ornare. Aenean vel lorem sed eros adipiscing dapibus. Aenean vitae neque quis dui interdum ornare. Cras fermentum neque eu commodo viverra. Fusce facilisis, dolor at fringilla blandit, nulla justo tristique tortor, in rhoncus justo arcu id nibh. Quisque fringilla velit a ipsum ullamcorper, pretium vulputate metus ullamcorper. Nullam non velit volutpat, congue leo ac, dictum nisl. Quisque et leo nisl. Sed sagittis nisi sed augue suscipit rhoncus. Cras at ante ante. Vivamus dui diam, semper viverra imperdiet vel, sagittis eget turpis.

    </p>
    </div>

    <div id="pellentesque">
    <h4>Pellentesque malesuada...</h4>
    <p style="text-align: justify">Pellentesque malesuada id erat sit amet ornare. Praesent convallis elit at erat egestas mattis. Duis ullamcorper venenatis sem, quis malesuada massa volutpat pellentesque. Suspendisse justo turpis, cursus eget congue eu, fermentum eu orci. Curabitur vehicula rhoncus neque ut mattis. Maecenas ut eleifend sem, eget adipiscing tellus. Etiam nunc neque, laoreet vel dolor in, placerat cursus leo. Nullam quis suscipit ligula. Praesent commodo varius massa et pharetra. Maecenas viverra, ante vel eleifend aliquam, nisi felis congue libero, ac fermentum augue nisi sed sapien. Nunc varius est vel dictum lobortis. Aliquam ultricies ipsum dui, id dictum mauris euismod sit amet.

    </p>

    <p style="text-align: justify">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras non fringilla neque. Maecenas viverra urna sed mi placerat elementum. Praesent sem felis, mattis ut libero ut, vulputate imperdiet orci. Aliquam lectus metus, dignissim eu ligula sed, pretium elementum mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ligula velit, adipiscing nec rhoncus ut, vehicula vel augue. Proin vestibulum orci a vestibulum accumsan. Cras aliquet ante a viverra accumsan. Aliquam mattis ac tellus eu ultrices. Cras id tempus lacus.

    </p>

    <p style="text-align: justify">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sed congue mi, vitae faucibus risus. Sed ac semper mauris. Aenean dictum mauris sed est dictum ultrices. Maecenas eget sapien libero. Aliquam accumsan, urna consequat bibendum venenatis, eros enim dictum sapien, eget malesuada lorem mi a risus. Aliquam purus leo, sollicitudin sed pretium at, aliquam sed erat. Fusce in luctus odio.

    </p>

    <p style="text-align: justify">Vestibulum sodales tincidunt metus convallis lobortis. Nullam eget velit sapien. Pellentesque tempor sit amet risus quis rutrum. Fusce ac mi at ipsum interdum lacinia ut sed augue. Praesent quis dui consequat diam tincidunt consequat et ut purus. Aliquam quis nibh dignissim, dapibus eros vel, vestibulum leo. Sed nibh dui, semper a leo cursus, faucibus luctus dolor. Proin mi eros, eleifend sit amet neque ac, pharetra porttitor erat. Nulla egestas, sapien ut elementum hendrerit, enim justo semper nulla, a elementum felis leo eu odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec non velit nulla.

    </p>

    <p style="text-align: justify">Nunc dapibus nunc in erat pharetra, ac gravida erat cursus. Sed convallis sapien ut dui dictum euismod. Phasellus sed luctus tortor, a feugiat orci. Cras ultricies quis quam tincidunt tristique. Donec sed tempus magna. Mauris dictum viverra urna sit amet blandit. Ut non congue sapien. Mauris sodales turpis vel justo dignissim, sit amet rhoncus nisl rhoncus. Nulla facilisi.

    </p>

    </div>

    <div id="sed">
     <h4>Sed laoreet...</h4>
    <p style="text-align: justify">Sed laoreet, turpis nec elementum accumsan, risus leo luctus tortor, id auctor nulla metus in massa. Duis aliquam, elit vulputate egestas feugiat, dolor magna fermentum risus, non mattis orci ipsum ac nulla. Cras accumsan lobortis risus, id rhoncus nisi scelerisque ac. In sed leo consequat, eleifend elit ut, pharetra lorem. In venenatis pharetra mollis. Vestibulum placerat vulputate purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc placerat consequat dui, id congue elit tincidunt ac. Praesent convallis, ligula ut placerat aliquet, est nisi venenatis dui, commodo suscipit odio justo venenatis tellus. Donec faucibus blandit posuere.

    </p>

    <p style="text-align: justify">Morbi turpis dui, tempus nec facilisis eget, euismod a nunc. Nulla nec quam at mi facilisis accumsan a sed turpis. Vestibulum vitae tempor mauris. Pellentesque a molestie enim, vitae malesuada augue. Vestibulum molestie sapien et elementum bibendum. Nullam nisl tellus, tristique eget mauris vulputate, cursus hendrerit ipsum. Quisque blandit odio vitae nisl sodales luctus. Proin ante massa, tincidunt vel lorem sed, placerat semper turpis. Curabitur volutpat tortor eu eros congue, ut consequat neque gravida. Proin et fermentum mi.
    </p>
    </div>

{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
    auto footer
{% endblock  %}