{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block body_class %}{{ block.super }} home{% endblock %}

{% block nav-search %}active{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-modal.css" rel="stylesheet">
{% endblock %}
{% block javascript_library %}
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modalmanager.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
{% endblock %}
{% block sidebar %}


{% endblock %}

{% block content %}

    <form id="search" class="form-search" action="{% url 'search_submit' %}" method="POST">
        {% csrf_token %}
        <div class="input-append">
            {{ forms.search|as_bootstrap:'inline'|removetags:'label' }}
            <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
        </div>
    </form>
    {% if results %}
        <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->

            <ul class="nav nav-tabs">
                {#  generate tabs on the right #}
                {% for category in categories  %}
                    <li class="{% if category.default %}active{% endif %} "><a href="#{{ category.symbol }}" data-toggle="tab">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="#other" data-toggle="tab">Other</a></li>
                <li><a href="#banned" data-toggle="tab" class="muted">Banned</a></li>
            </ul>

            {#  generate tab content #}
            <div class="tab-content">

                {%  for category in categories  %}
                        <div class="tab-pane {% if category.default %}active{% endif %}" id="{{ category.symbol }}">

                            <table class="table" style="display: table;">
                                {% for result in results %}
                                    {% if result.site.category.symbol == category.symbol and not result.site.banned %}
                                        <tr>
                                            <td>
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="top" data-original-title="Original sequence number">{{ result.sequence }}.</span> <small>
                                                <a target="_blank" href="{{ result.site.url }}">{{ result.site.url }}</a></small>
                                                {% if result.fresh %} <span class="label label-important"  data-toggle="tooltip" data-placement="top" data-original-title="New item detected!">New</span> {% endif %}
                                            </td>
                                            <td>{{ result.site.name }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary ajax detail" ajax-modal-url="{% url 'site_content_detail' result.site.id %}" href="#detail-{{ result.site.id }}">Details</a>
                                                    <a class="btn ajax edit" ajax-modal-url="{% url 'site_content_edit' result.site.id %}" href="#edit-{{ result.site.id }}">Edit</a>
                                                </div>
                                            </td>
                                            <td>
                                                <form action="{% url 'site_ban' %}?nexturl={{ request.get_full_path }}%23{{ category.symbol }}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="siteid" value="{{ result.site.id }}">
                                                    <button class="close" data-toggle="tooltip" data-placement="top" data-original-title="Add to ban list">&times;</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>

                        </div>
                {% endfor %}

                <div class="tab-pane" id="other">
                    <table class="table">
                        {% for result in results %}
                            {% if not result.site.category %}
                                <tr>
                                    <td>
                                        <span class="badge badge-info" data-toggle="tooltip" data-placement="top" data-original-title="Original sequence number">{{ result.sequence }}.</span> <small>
                                        <a target="_blank" href="{{ result.site.url }}">{{ result.site.url }}</a></small>
                                        {% if result.fresh %} <span class="label label-important"  data-toggle="tooltip" data-placement="top" data-original-title="New item detected!">New</span> {% endif %}
                                    </td>
                                    <td>{{ result.site.name }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary ajax detail" ajax-modal-url="{% url 'site_content_detail' result.site.id %}" href="#detail-{{ result.site.id }}" data-toggle="modal">Details</a>
                                            {# <a class="btn" href="#edit-{{ result.site.id }}">Edit</a> #}
                                        </div>
                                    </td>
                                    <td>
                                        <form action="{% url 'site_ban' %}?nexturl={{ request.get_full_path }}%23banned" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="siteid" value="{{ result.site.id }}">
                                            <button class="close" data-toggle="tooltip" data-placement="top" data-original-title="Add to ban list">&times;</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane" id="banned">
                    <table class="table">
                        {% for result in results %}
                            {% if result.site.banned  %}
                                <tr>
                                    <td><span class="badge badge-info">{{ result.sequence }}.</span> <small><a target="_blank" href="{{ result.site.url }}">{{ result.site.url }}</a></small> {% if result.fresh %} <span class="label label-important">New</span> {% endif %}</td>
                                    <td>{{ result.site.name }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary ajax detail" ajax-modal-url="{% url 'site_content_detail' result.site.id %}" href="#detail-{{ result.site.id }}" data-toggle="modal">Details</a>
                                            {# <a class="btn" href="#edit-{{ result.site.id }}">Edit</a> #}
                                        </div>
                                    </td>
                                    <td>
                                        <form action="{% url 'site_ban' %}?nexturl={{ request.get_full_path }}%23banned" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="siteid" value="{{ result.site.id }}">
                                            <button class="close" data-toggle="tooltip" data-placement="top" data-original-title="Remove from ban list">&times;</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id="ajax-modal" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true">
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    var hash = url.split(/#/)[1];
    if (hash) {
        $('.nav-tabs a[href=#'+hash+']').tab('show') ;
    }

    // Change hash for page-reload
    //$('.nav-tabs a')
    //        .on('shown', function (e) { window.location.hash = e.target.hash; });
    //$('.modal')
    //        .on('shown', function (e) { window.location.hash = e.target.id; })
    //        .on('hidden', function (e) { window.location.hash = ''; });
    var $modal = $('#ajax-modal');
    //var $
    var modalLoad = function(loadingElem, url) {
        return function(event) {
            // create the backdrop and wait for next modal to be triggered
            loadingElem.modalmanager('loading');
            var _url = event.target.getAttribute("ajax-modal-url"); // + '?nexturl={{ request.get_full_path }}';
            if (_url) url = _url;
            setTimeout(function() {
                $modal.load(url, '', function(responseText, status){
                    loadingElem.modalmanager('removeLoading');
                    if (status == 'success') {
                        $modal.modal();
                        $('#ajax-modal .datepicker').datepicker();
                        $('[data-toggle=tooltip]').tooltip();
                        $('#ajax-modal .update').on( 'click', modalLoad($modal,url) );
                    }
                });
            }, 100);
        };
    };
    $('.ajax').on('click', modalLoad($('body')));
    $('[data-toggle=tooltip]').tooltip();
    </script>
{% endblock  %}

{% block footer %}
{% endblock  %}