{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block body_class %}{{ block.super }} home{% endblock %}

{% block nav-search %}active{% endblock %}

{% block extrastyle %}
    <!--link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet"-->
{% endblock %}
{% block javascript_library %}
    <!--script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script-->
{% endblock %}
{% block sidebar %}


{% endblock %}

{% block content %}

    <form id="search" class="form-search" action="{% url 'search_submit' %}" method="POST">
        {% csrf_token %}
        <div class="input-append">
            {{ forms.search|as_bootstrap:'inline'|removetags:'label' }}
            <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
        </div>
    </form>
    {% if results %}
        <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->

            <ul class="nav nav-tabs">
                {#  generate tabs on the right #}
                {% for category in categories  %}
                    <li class="{% if category.default %}active{% endif %} "><a href="#{{ category.symbol }}" data-toggle="tab">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="#banned" data-toggle="tab">Banned</a></li>
            </ul>

            {#  generate tab content #}
            <div class="tab-content">

                {%  for category in categories  %}
                        <div class="tab-pane {% if category.default %}active{% endif %}" id="{{ category.symbol }}">

                            <table class="table">
                                {% for result in results %}
                                    {% if result.site.category.symbol == category.symbol and not result.site.banned %}
                                        <tr>
                                            <td>{{ result.site.name }}</td>
                                            <td><small><a target="_blank" href="{{ result.site.url }}">{{ result.site.url }}</a></small></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="#detail-{{ result.site.id }}" data-toggle="modal">Details</a>
                                                    <a class="btn" href="#edit-{{ result.site.id }}" data-toggle="modal">Edit</a>

                                                </div>
                                            </td>
                                            <td>
                                                <form action="{% url 'site_ban' %}?nexturl={{ request.get_full_path }}%23{{ category.symbol }}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="siteid" value="{{ result.site.id }}">
                                                    <button class="close">&times;</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>

                        </div>
                {% endfor %}

                <div class="tab-pane" id="banned">
                    <table class="table">
                        {% for result in results %}
                            {% if result.site.banned %}
                                <tr>
                                    <td>{{ result.site.name }}</td>
                                    <td><small><a target="_blank" href="{{ result.site.url }}">{{ result.site.url }}</a></small></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#detail-{{ result.site.id }}" data-toggle="modal">Details</a>
                                            {# <a class="btn" href="#edit-{{ result.site.id }}">Edit</a> #}
                                        </div>
                                    </td>
                                    <td>
                                        <form action="{% url 'site_ban' %}?nexturl={{ request.get_full_path }}%23banned" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="siteid" value="{{ result.site.id }}">
                                            <button class="close">&times;</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>


        {#  generate modal windows #}
        {#  edit #}
        {% for key,form in forms.editors.items %}
            <div id="edit-{{ key.0 }}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="editlbl-{{ key.0 }}" aria-hidden="true"> <!-- style="margin: 0;left: 15%;right: 15%; width: 75%"-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="editlbl-{{ key.0 }}">{{ key.1 }} <small><a href="{{ key.2 }}" target="_blank">{{ key.2 }}</a></small></h3>
                </div>
                <div class="modal-body">

                    <form id="form-{{ key.0 }}" action="{% url 'site_edit' %}?nexturl={{ request.get_full_path }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="siteid" value="{{ key.0 }}">
                        {{ form|as_bootstrap:'horizontal' }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" form="form-{{ key.0 }}">Save changes</button>
                </div>
            </div>
        {% endfor %}

        {# details #}
        {% for key,detail in details.items %}
            <div id="detail-{{ key.0 }}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="detaillbl-{{ key.0 }}" aria-hidden="true"> <!-- style="margin: 0;left: 15%;right: 15%; width: 75%"-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="detaillbl-{{ key.0 }}">{{ key.1 }} <small><a href="{{ key.2 }}" target="_blank">{{ key.2 }}</a></small></h3>
                </div>
                {% if detail.attributes %}
                    <div class="modal-body">
                        <form>
                            {% csrf_token %}
                                <div class="controls controls-row">
                                    <label class="span3">IP addresses</label>
                                    <span class="span4 uneditable-input">{% for ip in detail.attributes.ip.all %}{{ ip.address }} ({{ ip.country }}){% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">WHOIS from</label>
                                    <span class="span4 uneditable-input datetime">{{ detail.attributes.whois.date_from|date  }}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">WHOIS contact</label>
                                    <span class="span4 uneditable-input">{{ detail.attributes.whois.contact  }}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">WHOIS address</label>
                                    <span class="span4 uneditable-input">{{ detail.attributes.whois.address1  }}{% if not forloop.last %}, {% endif %}{{ detail.attributes.whois.address2  }}</span>
                                </div>
                        </form>
                    </div>
                {% endif %}
                {% if detail.content %}
                    <div class="modal-body">

                        <form>
                                <div class="controls controls-row">
                                    <label class="span3">Last updated</label>
                                    <span class="span4 uneditable-input datetime">{{ detail.content.last_update|date  }}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">Shipment methods</label>
                                    <span class="span4 uneditable-input">{% for shp in detail.content.shipment.all %}{{ shp.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">Shop type</label>
                                    <span class="span4 uneditable-input">{{ detail.content.type.name  }}</span>
                                </div>
                                <div class="controls controls-row">
                                    <label class="span3">Links to</label>
                                    <span class="span4 uneditable-input">{% for lnk in detail.content.links.all %}<a href="{{ lnk.url }}">{{ lnk.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                </div>
                            {{ form|as_bootstrap:'horizontal' }}
                        </form>
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block javascript %}
    <script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    var hash = url.split(/#/)[1];
    if (hash) {
        $('.nav-tabs a[href=#'+hash+']').tab('show') ;
    }

    // Change hash for page-reload
    $('.nav-tabs a')
            .on('shown', function (e) { window.location.hash = e.target.hash; });
    //$('.modal')
    //        .on('shown', function (e) { window.location.hash = e.target.id; })
    //        .on('hidden', function (e) { window.location.hash = ''; });
    //$('.datepicker').datepicker()
    </script>
{% endblock  %}

{% block footer %}
{% endblock  %}